* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* tipografia inter para titulos y subtitulos */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');
/* tipografia poppins para textos */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {

    /* Paleta de colores */
    --color-text: #ffffff;
    --text-hoover: #DC5F00;
    --color-fondo: #D9D9D9;
    --fondo-red: #A80000;
    --fondo-2: #000000;


    /* fuentes - tipografia */

    --T-subtitulos: "Inter", sans-serif;
    --textos: "Poppins", sans-serif;
    --textoAnuncios: "Anton", sans-serif;
}

/* menu hamburguesa para activar en el responsive media query  */

.abrir-menu {
    display: none;
}

body{
    overflow-x: hidden;
}

/* inicio de mi header */

header {
    background-image: url(../assets/img-header.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav {
    position: fixed;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.6s ease;

}

.nav.active{
    background: var(--fondo-2);
}

.menu {
    display: flex;
    gap: 45px;
}

.menu li{
    list-style: none;
    padding-right: 40px;
    padding-top: 3%;
}

.menu li a{
    font-size: 25px;
}

.menu li :hover{
    font-size: 26px;
    transition: .8s, color .10s;
}

.Logo-world {
    height: 9vh;
    margin-left: 2%;
}

.Logo-world img {
    max-width: 9rem;
    border-radius: 5px;
}

.nav ul {
    flex-direction: row;
}

.Buscar-container {
    padding-left: 15%;
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: end;
}

input {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 15px;
    border: none;
}

.icon-buscar {
    border: none;
    position: absolute;
    margin-left: 11%;
    background: none;
    display: block;
    color: #000000;
    font-size: 15px;
}

.icon-buscar:hover {
    color: var(--color-fondo);
    background: var(--color-text);
}

/* ----MODAL DE INICIO DE SESION ------- */

.iniciar-sesion {
    padding: 0;
    margin: 0;
    color: var(--color-text);
    font-size: 25px;
}

.iniciar-sesion:hover {
    color: var(--text-hoover);
}

.bot-ini-cre-cuet {
    display: flex;
    flex-direction: column;
}

.btn-ini-ses {
    background: black;
    color: var(--color-text);
    padding: 10px 150px 10px 150px;
    font-size: 20px;
} 

.btn-ini-ses:hover {
    background: var(--text-hoover);
}

.btn-crea-cta {
    background: black;
    padding: 10px 150px 10px 150px;
    font-size: 18px;
}

.btn-crea-cta a {
    list-style: none;
    text-decoration: none;
    color: var(--color-text);
}

.btn-crea-cta:hover {
    background: var(--text-hoover);
}

.p-regis {
    color: rgb(13, 191, 0);
    text-decoration: underline;
}

.scrol{
    height: 100px;
}

/* --------INICIO DEL MAIN------------------ */


main {
    width: 100%;
    height: auto;
}

/* --------TEXTO PROMOCIONAL ----------- */

.potencia {
    font-size: 18px;
    font-family: var(--textoAnuncios);
}

.p-banner {
    display: block;
    position: absolute;
    bottom: 40px;
    width: 50%;
    height: 35%;
    margin-left: 3%;
    font-size: 70px;
    font-weight: bold;
    color: var(--color-text);
    font-family: var(--textoAnuncios);
    text-transform: uppercase;
    text-shadow: 1px 5px 6px #000000;
}

/* inicio del article de nuevas promociones */

.nueva-prom {
    width: 70%;
    display: flex;
    position: relative;
    margin-left: 30%;
}

.h2promos {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 3%;
}

.b1 {
    margin-top: 7%;
    margin-left: 32%;
    bottom: -10px;
}

.b1 button:hover {
    color: var(--text-hoover);
}

/* ----Botones para cambiar imagen de las tendencias mujer y hombre */

.cont-new {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.b2 {
    margin-top: 3%;
}


/* Boton para cambiar imagen */

.boton-scrol-producto {
    display: flex;
    justify-content: end;
}

.scrol-producto button {
    color: var(--color-fondo);
    text-decoration: none;
    font-weight: bold;
    font-size: 60px;
    background: none;
    border: 0;
    color: inherit;
    color: var(--color-fondo);
}

.boton-scrol-producto button {
    color: var(--color-fondo);
    text-decoration: none;
    font-weight: bold;
    font-size: 60px;
    background: none;
    border: 0;
    color: inherit;
    color: var(--color-fondo);
}

.boton-scrol-producto button:hover {
    color: var(--text-hoover);
}

.Contenedor-nuevasPromociones {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 0;
    scroll-behavior: smooth;
}

.Contenedor-nuevasPromociones::-webkit-scrollbar {
    display: none;
}

.nuevasPromos {
    flex: 0 0 auto;
    margin: 2%;
    width: 25%;
    height: 30%;
}

.nuevasPromos img {
    width: 100%;
    height: 80%;
}

h4 {
    font-family: var(--textos);
    font-weight: bold;
}

.descripcion-promo {
    font-family: var(--textos);
}

.comprar-promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.precio-promos {
    color: gray;
    text-decoration: line-through;
    font-weight: bold;
    font-family: var(--T-subtitulos);
}

.precio-descuentos {
    color: var(--text-hoover);
    font-weight: bolder;
    font-family: var(--T-subtitulos);
}

.boton-comprar {
    background: var(--color-fondo);
    border: none;
    font-size: 12PX;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px 13px;
    font-family: var(--T-subtitulos);
    transition: .5s, color .10s;
    margin-bottom: 4%;
}

.boton-comprar:hover {
    background-color: var(--text-hoover);
    font-size: 13px;
    border: none;
}

/* TENDENCIA MUJER ---- INICIO ---- */

.sub-tend {
    font-size: 40px;
    margin-top: 3%;
    margin-left: 1%;
}

/* SCROLS DE LAS TENDENCIAS */

.tendenciaMujer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 0;
    position: relative;
    scroll-behavior: smooth;
}

.tendenciaHombre {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 0;
    position: relative;
    scroll-behavior: smooth;
}

/* Linea codigo ocultar scrolls de tendencias */

.tendenciaMujer::-webkit-scrollbar {
    display: none;
}

.tendenciaHombre::-webkit-scrollbar {
    display: none;
}

.nuevo {
    width: 30%;
    height: 40vh;
    overflow: hidden;
    flex: 0 0 auto;
    margin: 2%;
    background-size: cover;
}

.nuevo img {
    width: 100%;
    height: auto;
}

@supports (object-fit: cover) {
    .nuevo img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.boton-verMas {
    display: block;
    background-color: var(--color-fondo);
    border: none;
    font-size: 13PX;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px 25px;
    font-family: var(--T-subtitulos);
    transition: .5s, color .10s;
    position: absolute;
    margin-left: 22%;
    margin-top: 16%;

}

.boton-verMas:hover {
    background-color: var(--text-hoover);
    font-size: 14px;
    border: none;
}

/* ------INICIO DE MI FOOTER ---------- */

footer {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    color: var(--color-text);
    padding-top: 2%;
}

.subtitulo-footer {
    font-family: var(--T-subtitulos);
    font-size: 20px;
    padding-bottom: 15%;
}


ul li {
    list-style-type: none;
    font-family: var(--textos);
}

ul li a:hover {
    color: var(--text-hoover);
    text-decoration: underline;
}

ul li a {
    color: var(--color-text);
    text-decoration: none;
    font-family: var(--textos);
    font-size: 14px;
}

.redes {
    font-size: 20px;
}

/* --------- RESPONSIVE PARA IPAD PRO ----------- */

@media screen and (max-width: 1024px) {

    header {
        width: 100%;
    }

    .nav {
        padding-right: 0;
        margin-right: 2%;
    }

    .nueva-prom {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 5%;
    }

    .h2promos {
        text-align: center;
        margin-left: 22%;
    }

    .b1 {
        display: none;
    }

    .boton-verMas {
        margin-top: 48%;
        margin-left: 18%;
    }

}

/* ---------- RESPONSIVE PARA IPHONE 12 PRO -------------- */

@media screen and (max-width: 490px) {

    body {
        overflow-x: hidden;
    }

    .nav {
        width: 20%;
    }

    .Buscar-container {
        display: none;
    }

    .icon-buscar {
        display: none;
    }

    .abrir-menu {
        display: block;
        background-color: var(--fondo-2);
        color: var(--color-fondo);
        border: none;
        font-size: 300%;
        margin-left: 62%;
    }

    .nav-list {
        display: none;
        position: absolute;
        position: fixed;
        top: 7%;
        left: 90%;
        padding-right: 10%;
        background-color: var(--fondo-2);
        width: 40%;
        height: 40%;
        flex-direction: column;
        align-items: center;
        line-height: 30px;
        transform: translateX(-80%);
    }

    /* 
    .nav-list.active {
        transform: translateX(100%);

    } */

    .modal-sesion1 {
        width: 84%;
    }

    .bot-ini-cre-cuet {
        width: 100%;
        align-items: center;
        padding: 2px;
    }

    .busn {
        padding: 5px 10px;
    }

    .prueba {
        height: 40vh;
    }

    .container-collage {
        width: 100vw;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .collage {
        position: inherit;
    }

    .p-banner {
        width: 70%;
        height: 16%;
        margin-left: 3%;
        margin-bottom: 100%;
        font-size: 30px;
        font-weight: bold;
    }

    .potencia {
        font-size: 17px;
    }

    .promociones-sport-shopping {
        height: auto;
    }

    .nueva-prom {
        width: 65%;
        margin-left: 17%;
    }

    .h2promos {
        font-size: 30px;
        margin: 3% 0%;

    }

    .nuevasPromos {
        width: 90%;
    }

    .comprar-promo {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        line-height: 10px;
    }

    .boton-comprar {
        padding: 10px 15px;
    }

    .sub-tend {
        font-size: 30px;
    }

    .b2 {
        display: none;
    }

    .nuevo {
        width: 60%;
        height: 70%;
    }

    .boton-verMas {
        margin-left: 30%;
    }

    footer {
        width: 100%;
        padding-top: 15%;
        display: flex;
        flex-direction: column;
        line-height: 2px;
    }

    .subtitulo-footer {
        display: block;
    }

    footer ul li {
        display: none;
    }
}