@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --colornegro: #000000;
    --colorblanco: #ffffff;
    --colorgris: #d9d9d9;
    --colornaranja: #dc5f00;

    --T-subtitulos: "Inter", sans-serif;
    --textos: "Poppins", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: var(--colorblanco);
    width: 100vw;
    height: auto;
    overflow-x: hidden;


}

.abrir-menu {
    display: none;
}

header {
    background-color: var(--colornegro);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
    max-width: 4rem;
}

.Buscar-container {
    width: 30%;
    height: 30px;
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 12px;
    border: none;
    padding-left: 4%;
}

.icon-buscar {
    border: none;
    position: absolute;
    margin-left: 13%;
    background: none;
    display: block;
}

.icon-buscar:hover {
    color: var(--colorgris);
}

/* ----MODAL DE INICIO DE SESION ------- */

.iniciar-sesion{
    padding: 0;
    margin: 0;
    color: var(--colorblanco);
    font-size: 23px;
}

.iniciar-sesion:hover{
    color: var(--colornaranja);
}

.inicio-sesion{
    align-items: center;
}

.bot-ini-cre-cuet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-ini-ses{
    background: var(--colornegro);
    color: var(--colorblanco);
    padding: 10px 150px 10px 150px;
    font-size: 18px;
}

.btn-ini-ses:hover{
    background: var(--colornaranja);
}

.btn-crea-cta{
    background: var(--colornegro);
    padding: 10px 150px 10px 150px;
    font-size: 18px;
}

.btn-crea-cta a{
    list-style: none;
    text-decoration: none;
    color: var(--colorblanco);
}

.btn-crea-cta:hover{
    background: var(--colornaranja);
}

.p-regis{
    color: rgb(13, 191, 0);
    text-decoration:underline ;
}

nav {
    width: 50%;
    align-items: center;
    justify-content: space-between;
    padding-right: 2%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 2%;
    align-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: var(--colorblanco);
    text-decoration: none;
    font-family: var(--T-subtitulos);
    font-size: 20px;
}

nav ul li a:hover {
    color: var(--colornaranja);
    text-decoration: underline;
}
main{
width: 100%;
height: 100%;


}

.imagenEntradaPag{

    position: relative;
    background-color: #ebeeef;
    
}
.parrafoImgEntrada{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 26px;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 0;

 
}

.parrafoH1{

    font-size: 500%;
    color: var(--colornegro);
    font-family: var(--T-subtitulos);
    font-weight: bold;
}
.parrafoH2{

    font-size: 200%;
    color: var(--colornegro);
    font-family: var(--textos);
    font-weight: bold;

}

.redireccionamiento{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:repeat(2, 1fr) ;
    background-color: #ebeeef;
    padding-top: 2%;

}

.redireccionamientoDescripcion{

    display: flex;
    gap: 20%;
    padding-top: 10%;
}
.redireccionamientoTexto{

    font-size: 200%;
    font-family: var(--T-subtitulos);
    padding-bottom: 5%;
    font-weight: bold;
}
.video{
    border-radius: 10%;
}

.botonRedireccionamiento{

    border: none;
    background-color: var(--colornaranja);
    width: 195%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 15%;
    font-size: 150%;
    font-weight: bolder;
    padding-top: 10%;
  
    

}

.botonRedireccionamiento:hover{

    transform: scale(1.2);
    cursor:pointer;


}
.redireccionamientoCalzado a{

    text-decoration: none;
    
}
.redireccionamientoRopa a{

    text-decoration: none;
    
}

#ropa{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}



.ropaImg{

    width: 70%;
    display: grid;  
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns:repeat(2, 1fr) ;
    background-color: var(--colorblanco);
    padding-bottom: 20%;
    gap: 2%;
    
  
    
    

}

.tituloRopa{

    font-family: var(--T-subtitulos);
   padding-top: 10%;
   padding-bottom: 5%;
   padding-right: 60%;
   font-size: 200%;
   font-weight: bolder;

}

.tituloRopa h2{

    font-family: var(--T-subtitulos);
    font-weight: bold;
    font-size: 200%;


}






.nombreProducto{

    font-family: var(--T-subtitulos);
    font-weight: bold;
    padding: 2%;
    text-transform: uppercase;
}
.descripcionProducto{

    font-family: var(--textos);
    padding: 2%;
   
}
.contenedorComp{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.precio{
    font-family: var(--textos);
    font-weight: bold;
    padding-top: 3%;
    padding-left: 2%;

}

.botonC{

    
    
    
    padding-right: 4%;
    
}
#botonComprar{

    font-family: var(--T-subtitulos);
    font-weight: bold;
    font-size: 100%;
    background-color: var(--colorgris);
    width: 120%;
    border: none;
    height: 110%;
    border-radius: 10px;
    text-transform: uppercase;
    
   

    

}
#botonComprar:hover{
    transform: scale(1.1);
    cursor:pointer;
    background-color: var(--colornaranja);
    
}

#calzado{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    padding-top: 10%;
}
.calzadoImg{

    width: 60%;
    display: grid;  
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns:repeat(2, 1fr) ;
    background-color: var(--colorblanco);
    gap: 2%;
   
  
    
    

}
.tituloCalzado{
    font-family: var(--T-subtitulos);
    padding-bottom: 5%;
   padding-right: 50%;
   font-size: 200%;
}
.tituloCalzado h2{

    font-family: var(--T-subtitulos);
    font-weight: bold;
    font-size: 200%;

}

.calzadoImagen2{
    display: grid;
    grid-row: 1/2;
    grid-column: 2/3;

}
.calzadoImagen3{
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;

}
.calzadoImagen4{
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;

}

.calzadoImagen5{
    display: grid;
    grid-row: 2/3;
    grid-column: 1/2;

}

.img{padding: 1%;}

footer{

    background-color: var(--colornegro);
    font-family: var(--textos);
    color: var(--colorblanco);
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-top: 0;
   
}
footer ul{

    list-style: none;
    font-weight: lighter;
}
footer ul li:hover {

    color: var(--colornaranja);
    text-decoration: underline;
   cursor: pointer;

}
@media screen and (max-width:700px) {

    body{

        width: 100%;
        overflow-x: hidden;
       
    }


    header{
        width: 100%;
        position: fixed;
        padding-right: 10%;
        
        
    }

    .Buscar-container{display: none;}


    .abrir-menu{

        display: block;
        background-color: var(--colornegro);
        color: var(--colorblanco);
        border: none;
        font-size: 300%;
       
    }

.nav-list{

    position: fixed;
    top: 7%;
    right:61%;
    background-color: var(--colornegro);
    width: 60%;
    height: 70%;
    flex-direction: column;
    align-items: center;
    line-height: 100px;
    transform: translateX(-100%);
   
}


.nav-list.active{
    transform: translateX(100%);


}
main{

    font-size: 50%;
}
.imagenEntradaPag{

    position:inherit;
    background-color: #ebeeef;
    padding-top: 10%;
    
}
.parrafoImgEntrada{
    position: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 25px;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../assets/page-mujer/Imagen\ inicio\ mujer.jpg) ;
    background-size: 130%;
 
   
}
#imgSeccion1{

    display: none;
}
.redireccionamientoDescripcion{

    width: 100%;
    font-size: 80%;
    gap: 10px;
}
.botonRedireccionamiento{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding-top: 30%;
    padding-left: 40%;
    padding-right: 20%;
    


} 

#ropa{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 160%;
}
.tituloRopa{

    font-family: var(--T-subtitulos);
   padding-top: 10%;
   padding-bottom: 5%;
   padding-right: 0;
   font-size: 150%;
   font-weight: bolder;

}

.ropaImg{

    width: 90%;
}
.descripcionProducto{

    display: none;
}
.calzadoImg{

    width: 90%;
    font-size: 160%;
}
.tituloCalzado{

    font-family: var(--T-subtitulos);
   padding-top: 10%;
   padding-bottom: 5%;
   padding-right: 0;
   font-size: 200%;
   font-weight: bolder;

}

footer{

    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
   
   

}
footer h3:hover{

    color: var(--colornaranja);

}

footer ul{

    display: none;
    
   

}
footer h3{

    font-size: 60%;
}

}
@media screen and (max-width:1024px){

    .Buscar-container{display: none;}
    .redireccionamientoDescripcion{

        width: 80%;
    }
    #ropa{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tituloRopa{
    
        font-family: var(--T-subtitulos);
       padding-top: 10%;
       padding-bottom: 5%;
       padding-right: 0;
       font-size: 200%;
       font-weight: bolder;
    
    }
    .calzadoImg{

        width: 90%;
        font-size: 140%;
    }
    .tituloCalzado{
    
        font-family: var(--T-subtitulos);
       padding-top: 10%;
       padding-bottom: 5%;
       padding-right: 0;
       font-size: 200%;
       font-weight: bolder;
    
    }
    .calzadoImagen1{

        height: 60%;
    }
    



}


